body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(187, 39, 39);
}

.jumbotron{
  text-align: center;
}

.column {
  width: 400px;
  float: left;
}

img {
  float: right;
}

strong {
  text-decoration: underline;
}

.projects {
  text-decoration: underline;
  color: black;
  list-style: none;
  float: left;
}

span {
  text-decoration: underline;
  font-weight: bolder;
}