body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: darkslategrey;
}

.jumbotron{
  text-align: center;
  background-color: ghostwhite;
}

img {
  float: left;
  position: relative;
  max-width: max-content;
}

strong {
  text-decoration: underline;
}

span {
  text-decoration: underline;
  font-weight: bolder;
}

.projects {
  list-style: none;