body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: darkslategrey;
}

.jumbotron{
  text-align: center;
  background-color: ghostwhite;
}

img {
  float: left;
  position: relative;
  max-width: max-content;
}

p {
  text-indent: 30px;
}

p.project-description {
  text-indent: 30px;
  text-align: left;
  padding: 25px;
}

span {
  text-decoration: underline;
  font-weight: bolder;
}

.hidden-bullets {
  list-style: none;
}

.panel-title {
  color: black;
  font-weight: bold;
}

.col-md-4 {
  margin: auto;
  border: 5px black;
  padding: 15px;
  text-align: center;
  font-style: italic;
  }

.footer {
  color: white;
  text-align: center;
}

.bg-info {
  list-style: none;
}